<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>float6</title>
    <style>
      a {
        text-decoration: none;
        background: blue;
        color: white;
        margin: 10 px;
        width: 50px;
        height: 50px;
        /*display: inline-block;*/
        float: left; /*float는 기본적으로 블럭요소 =>inline요소를 float로 띄우면 bloack 특성 적용*/
      }
    </style>
  </head>
  <body>
    <p>
      <a href="#" id="">1</a>
      <a href="#" id="">2</a>
      <a href="#" id="">3</a>
      <a href="#" id="">4</a>
      <a href="#" id="">5</a>
    </p>
  </body>
</html>
