<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>inline</title>
    <link rel="stylesheet" href="inline.css" />
  </head>
  <body>
    <!-- 
        block 요소를 inline 형태로 나열
            1)display: inline-block; 
                =>right, bottom에 여백이 생김 
                    ->하단: vertical-align: top;
                    ->오른쪽: 부모 요소 font-size: 0;(그러나 글자가 나오지 않음)
                    ->text-align 사용 가능
            2)float: left/right;

     -->
    <div class="grid">
      <div class="grid-item a"></div>
      <div class="grid-item b"></div>
      <div class="grid-item c"></div>
    </div>
  </body>
</html>
