<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Layout1</title>
    <link rel="stylesheet" href="layout.css" />
  </head>
  <body>
    <div id="container">
      <div id="header">
        <h1>사이트 제목</h1>
      </div>
      <div id="sider">
        <h2>사이드 바</h2>
      </div>
      <div id="contents">
        <h2>본문</h2>
        <p>
          모든 국민은 법률이 정하는 바에 의하여 국방의 의무를 진다. 국가는
          농·어민과 중소기업의 자조조직을 육성하여야 하며, 그 자율적 활동과
          발전을 보장한다. 국무총리는 국무위원의 해임을 대통령에게 건의할 수
          있다. 대통령의 국법상 행위는 문서로써 하며, 이 문서에는 국무총리와
          관계 국무위원이 부서한다. 군사에 관한 것도 또한 같다.
        </p>
        <p>
          법원은 최고법원인 대법원과 각급법원으로 조직된다. 전직대통령의 신분과
          예우에 관하여는 법률로 정한다. 공무원의 직무상 불법행위로 손해를 받은
          국민은 법률이 정하는 바에 의하여 국가 또는 공공단체에 정당한 배상을
          청구할 수 있다. 이 경우 공무원 자신의 책임은 면제되지 아니한다.
          행정각부의 장은 국무위원 중에서 국무총리의 제청으로 대통령이 임명한다.
        </p>
      </div>
      <div id="footer">
        <h2>푸터</h2>
        <p>
          국가안전보장에 관련되는 대외정책·군사정책과 국내정책의 수립에 관하여
          국무회의의 심의에 앞서 대통령의 자문에 응하기 위하여
          국가안전보장회의를 둔다.
        </p>
      </div>
    </div>
  </body>
</html>
