<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>position2-광고</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed;
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="http://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam
      maiores, aperiam ea iure quis eveniet saepe adipisci necessitatibus
      expedita eos iste optio. Quod placeat sequi corrupti deleniti, magnam
      officia veniam saepe a impedit nihil perspiciatis porro dolorem numquam
      nam excepturi. Velit voluptates mollitia veritatis atque officiis ratione
      asperiores quia eum voluptatem minus? Quidem doloremque, aliquam hic,
      molestias similique vero aspernatur minus accusamus tenetur unde eum
      reprehenderit corrupti quis dolores officia amet! Alias obcaecati commodi
      ipsam porro exercitationem minus numquam quia corrupti beatae repellat
      reprehenderit esse at nostrum ab aspernatur tempora, cupiditate
      consequuntur deleniti possimus autem fugit suscipit sunt? Iure unde id
      animi architecto officiis dolores pariatur deleniti dolor adipisci at,
      explicabo repellendus blanditiis quidem neque, repellat ad dolorem commodi
      vel soluta iusto! Debitis sunt hic, non voluptatum illo, eos dolore quasi,
      mollitia perferendis libero recusandae in nesciunt officia sapiente
      pariatur assumenda quaerat minus iure optio perspiciatis fugiat provident?
      Aliquid suscipit eveniet odit aperiam sit quam, dolorum voluptates, error
      nihil ea ipsum maiores aliquam fuga! Dicta accusantium quia similique
      perferendis beatae consectetur cupiditate aliquam consequatur minima
      veritatis mollitia illo facere illum et, quasi tempore error laudantium
      placeat! Laborum earum possimus adipisci nostrum eius, illo saepe
      dignissimos repellendus distinctio eum tempora culpa deserunt sapiente
      impedit nihil sit ex pariatur unde beatae explicabo. Perferendis quod
      iusto vel adipisci possimus totam dolorem tempora aut. Distinctio
      consectetur enim rerum hic explicabo pariatur dolorum, dolores et
      doloremque vitae facilis eligendi fugiat exercitationem velit laboriosam
      tempora iure, commodi ducimus deserunt! Nam odit iusto ut doloremque
      optio? Deserunt vitae ipsum sed dicta vel eveniet, sit amet sapiente!
      Adipisci quis ipsa non doloremque nam eius recusandae inventore fugit
      placeat deleniti quo accusantium, aliquam sunt aut hic, accusamus quidem
      obcaecati reiciendis ab saepe eum reprehenderit quod! Cumque nihil
      corrupti placeat natus, alias debitis laudantium aut repellendus cum
      veniam ex soluta accusantium quod corporis dignissimos assumenda eligendi?
      Iure error debitis, itaque eaque consequatur in rerum molestias quisquam
      distinctio, ad neque nesciunt rem, sapiente pariatur. Perspiciatis
      architecto esse voluptatem. Nemo error alias illum accusantium, animi
      porro qui maxime minima beatae aspernatur, suscipit nobis id esse
      laudantium impedit eum voluptates asperiores ullam officia iure incidunt,
      cumque velit! Nihil dicta quia fugit labore praesentium amet iure debitis
      eius commodi veniam, magni numquam, possimus temporibus culpa quo facere
      quidem sapiente sint exercitationem aut dignissimos! Hic placeat fugit
      labore deserunt pariatur possimus, dolor cum maiores sed eaque quos
      voluptas a veniam veritatis incidunt? At nihil minus, excepturi cumque
      beatae ut ab accusamus a blanditiis aut perspiciatis illum, quaerat
      distinctio quasi iusto non? Explicabo quas earum velit consequatur dolore
      labore magni quia quisquam id perferendis voluptatem impedit harum
      quibusdam debitis, suscipit a modi adipisci nulla omnis cum ea laborum
      deleniti? Temporibus ullam magnam vel dolores sint. Necessitatibus hic
      eius quibusdam qui suscipit earum a id! Quasi accusamus porro iste,
      aspernatur quas voluptates quibusdam, dignissimos repellendus harum
      suscipit, nemo earum accusantium rem labore? Doloribus ipsa suscipit,
      veniam quia mollitia officiis amet, vitae facere hic sequi esse, quos modi
      ex eos rerum. Quam magnam corporis sed, tempora nobis necessitatibus.
    </p>
  </body>
</html>
